@model DW.Models.pregunta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pregunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo_pregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo_pregunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_pregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_pregunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_personal_pregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_personal_pregunta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
