@model DW.Models.producto

@{
    ViewBag.Title = "Delete";
}


<div class="contenedore">

    <h2>ELIMINAR</h2>

    <h3>Are you sure you want to delete this?</h3>

    <dl class="info-delete">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_personal_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_personal_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="boton">
    @Html.ActionLink("VOLVER", "Index")
</div>
    <input type="submit" value="Delete" class="btn btn-default" />

    }
</div>


<style>

    .contenedore {
        width: 40%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .info-delete, h2 {
        margin: 5px;
        text-align: center;
    }

    .boton {
        background-color: white;
        border-radius: 10px;
        border-width: 0px;
        padding: 5px;
        margin: 5px;
        color: black;
    }


    input[type="submit"] {
        background-color: #FDD55E;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>