@model DW.Models.producto

@{
    ViewBag.Title = "Details";
}


<div class="contenedore">

    <button>
        @Html.ActionLink("VOLVER", "Index")
    </button>

    <dl>

        <!--Nombre-->
        <div class="nom-detalle">
            <dt>
                <!--<h4>Nombre</h4>-->
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre_prod)
            </dd>
        </div>

        <!--Imagen-->
        <div class="imagen-detalle">
            <dt>
                <!--<h4>Producto</h4>-->
            </dt>

            <dd>
                @Html.DisplayFor(model => model.imagen)
            </dd>
        </div>


        <!--NO MOSTRAR-->
        <dt>
            <!--<h4>estado</h4>-->
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.estado)
        </dd>

        <!------------>
        <!--Descripcion-->
        <div class="info-detalle">
            <dt>
                <h3>Descripción</h3>
            </dt>

            <dd class="info-gene">
                @Html.DisplayFor(model => model.descripcion_prod)
            </dd>
        </div>

        <!--Medios de Contacto-->
        <div class="info-detalle">
            <h3>Medios de Contacto</h3>
            <dt>
                <h4>Teléfono</h4>
            </dt>

            <dd class="info-gene">
                @Html.DisplayFor(model => model.telefono_prod)
            </dd>

            <dt>
                <h4>Correo</h4>
            </dt>

            <dd class="info-gene">
                @Html.DisplayFor(model => model.correo_personal_prod)
            </dd>
        </div>
    </dl>
</div>


<style>

    .contenedore {
        width: 70%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }


    .nom-detalle {
        text-align: center;
        padding: 5px;
        font-size: 40px;
        color: #1f2194;
    }

    .info-gene{
        font-size: 25px;
    }

    .info-detalle h3 {
        padding: 10px;
        padding-bottom: 5px;
        color: #0b0e8d;
       font-size: 30px;
    }

    .info-detalle h4 {
        padding-top: 10px;
        padding-left: 35px;
        color: #1b78ad;
        font-size: 20px;
    }

    .info-detalle .info-gene {
        padding-left: 90px;
        padding-top: 5px;
    }

    .imagen-detalle .imagenn {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    button {
        background-color: white;
        border-radius: 10px;
        border-width: 0px;
        padding: 5px;
        margin: 5px;
        color: black;
    }

        button:hover {
            background-color: #FDD55E;
            color: white;
            border-radius: 5px;
        }

</style>