@model DW.Models.pregunta

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        <h4>PREGUNTAS</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.titulo_pregunta, "pregunta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="cajas">
                @Html.EditorFor(model => model.titulo_pregunta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titulo_pregunta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h5>Minimo 10 Caracteres</h5>
            @Html.LabelFor(model => model.descripcion_pregunta, "descripcion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="cajas">
                @Html.EditorFor(model => model.descripcion_pregunta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion_pregunta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correo_personal_pregunta, "correo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="cajas">
                @Html.EditorFor(model => model.correo_personal_pregunta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correo_personal_pregunta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="boton">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
    .container h4 {
        text-align: center;
        padding-bottom: 2px;
    } 

    .container {
        max-width: 300px;
        margin: 50px auto;
        background-color: #fff;
        padding: 50px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        justify-content: center;
    }

    .form-group {
        margin-bottom: 15px;
        justify-content: center;
    }

    input[type="submit"] {
        background-color: #FDD55E;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }


    .form-group .boton{
        justify-content:center;
    }

</style>
