@model DW.Models.tienda

@{
    ViewBag.Title = "Delete";
}


<div class="contenedore">
    <h2>Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
    <h4>tienda</h4>

    <dl class="info-delete">
        <dt>
            <h4>Nombre</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_tienda)
        </dd>

        <dt>
            <h4>Estado</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            <h4>Descripcion</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_tienda)
        </dd>

        <dt>
            <h4>Telefono</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_tienda)
        </dd>

        <dt>
            <h4>Imagen</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen_tienda)
        </dd>

        <dt>
            <h4>Correo</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_tienda)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>


<style>

    .contenedore {
        width: 40%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .info-delete, h2 {
        margin: 5px;
        text-align: center;
    }

    .boton {
        background-color: white;
        border-radius: 10px;
        border-width: 0px;
        padding: 5px;
        margin: 5px;
        color: black;
    }


    input[type="submit"] {
        background-color: #FDD55E;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>