@model IEnumerable<DW.Models.tienda>

@{
    ViewBag.Title = "Denegado";
}

<h2>Denegado</h2>

<p>
    @Html.ActionLink("Nuevo", "Create") |
    @Html.ActionLink("Vista Admin", "vistaAdmin") |
    @Html.ActionLink("Aprobar", "Aprobar") |
</p>
<table class="table">
    <tr>
        <th>
            <h4>Nombe</h4>
        </th>
        <th>
            <h4>Estado</h4>
        </th>
        <th>
            <h4>Descripcion</h4>
        </th>
        <th>
            <h4>Telefono</h4>
        </th>
        <th>
            <h4>Imagen</h4>
        </th>
        <th>
            <h4>Correo</h4>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.estado == 3)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_tienda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion_tienda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono_tienda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imagen_tienda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo_tienda)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                </td>
            </tr>
        }
    }

</table>
